<span id="hs_cos_wrapper_module_159595728012549"
    class="hs_cos_wrapper hs_cos_wrapper_widget_container hs_cos_wrapper_type_widget_container"
    data-hs-cos-general-type="widget_container" data-hs-cos-type="widget_container">
    <div id="hs_cos_wrapper_widget_1615211422347"
        class="hs_cos_wrapper hs_cos_wrapper_widget hs_cos_wrapper_type_module" data-hs-cos-general-type="widget"
        data-hs-cos-type="module">
        <div class="container-fluid rel pt50 pb50 bgWhite mb50 contacto">
            <div class="row">

                <div class="img bgi" style="background-image: url(assets/hubfs/MG-Certifica-Contacto.jpg);">
                </div>

                <div class="container rel">
                    <div class="row">

                        <div class="col-sm-6 cont rel">

                            <h1>Queremos saber de ti</h1>
                            <p>Ponte en contacto, estamos listos para escuchar las necesidades de tu compañía y
                                ayudarte.</p>
                            <ul>
                                <li>Oficina Los Andes: Papudo #484, Los Andes.</li>
                                <br>
                                <div class="row box" style="width: 337px;">
                                    <iframe
                                        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d209.52492147542262!2d-70.6007575555072!3d-32.83469254505163!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x968804dfaca8e255%3A0xf360d7716d46441!2sPapudo%20484%2C%20Los%20Andes%2C%20Valpara%C3%ADso!5e0!3m2!1ses-419!2scl!4v1639597946984!5m2!1ses-419!2scl"
                                        width="334" height="210" style="border:0;" allowfullscreen=""
                                        loading="lazy"></iframe>
                                </div>
                                <br>

                                <li>Oficina Rancagua: Bello Horizonte #781, Torre C. Of 202. Rancagua.<br><br><br></li>

                                <div class="row box" style="width: 337px;">
                                    <iframe
                                        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1650.3352569186968!2d-70.73031434193791!3d-34.18034077622133!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9663434fdf1016e7%3A0xc619446240be7801!2sC.%20Bello%20Horizonte%20781%2C%20Rancagua%2C%20O&#39;Higgins!5e0!3m2!1ses-419!2scl!4v1639598338412!5m2!1ses-419!2scl"
                                        width="334" height="210" style="border:0;" allowfullscreen=""
                                        loading="lazy"></iframe>
                                </div>


                            </ul>
                            <br>



                            <span id="hs_cos_wrapper_widget_1615211422347_"
                                class="hs_cos_wrapper hs_cos_wrapper_widget hs_cos_wrapper_type_form"
                                data-hs-cos-general-type="widget" data-hs-cos-type="form">
                                <h3 id="hs_cos_wrapper_form_545285226_title" class="hs_cos_wrapper form-title"
                                    data-hs-cos-general-type="widget_field" data-hs-cos-type="text"></h3>

                                <div id="hs_form_target_form_545285226"></div>



                                <div id="hs_form_target_form_982091132">



                                    <form novalidate="" accept-charset="UTF-8" *ngIf="!message"
                                        class="hs-form stacked hs-custom-form hs-form-private hsForm_e1d6602c-c43e-4981-be2c-dd1f20f6cbfa hs-form-e1d6602c-c43e-4981-be2c-dd1f20f6cbfa hs-form-e1d6602c-c43e-4981-be2c-dd1f20f6cbfa_8ad53986-8c54-486e-8de3-2ec95d40e2d0"
                                        data-form-id="e1d6602c-c43e-4981-be2c-dd1f20f6cbfa"
                                        target="target_iframe_e1d6602c-c43e-4981-be2c-dd1f20f6cbfa_5968"
                                        data-hs-cf-bound="true">
                                        <fieldset class="form-columns-2">
                                            <div
                                                class="hs_firstname hs-firstname hs-fieldtype-text field hs-form-field">
                                                <label id="label-firstname-e1d6602c-c43e-4981-be2c-dd1f20f6cbfa_5968"
                                                     placeholder="Enter your Nombre"
                                                    for="firstname-e1d6602c-c43e-4981-be2c-dd1f20f6cbfa_5968"><span>Nombre</span>
                                                    <span class="hs-form-required">*</span>
                                                </label>
                                                <legend class="hs-field-desc" style="display:none;"></legend>
                                                <div class="input">
                                                    <input id="firstname-e1d6602c-c43e-4981-be2c-dd1f20f6cbfa_5968"
                                                        class="hs-input" type="text" name="firstname" required=""
                                                        value="" placeholder="" autocomplete="given-name"
                                                        inputmode="text" [(ngModel)]="form.user.name">
                                                </div>
                                            </div>




                                            <div class="hs_email hs-email hs-fieldtype-text field hs-form-field"><label
                                                    id="label-email-e1d6602c-c43e-4981-be2c-dd1f20f6cbfa_5968"
                                                    placeholder="Enter your Correo"
                                                    for="email-e1d6602c-c43e-4981-be2c-dd1f20f6cbfa_5968"><span>Correo</span><span
                                                        class="hs-form-required">*</span></label>
                                                <legend class="hs-field-desc" style="display:none;"></legend>
                                                <div class="input"><input [(ngModel)]="form.user.mail"
                                                        id="email-e1d6602c-c43e-4981-be2c-dd1f20f6cbfa_5968"
                                                        type="email" name="email" class="form-control" required placeholder="" value=""
                                                        autocomplete="email" inputmode="email"></div>





                                            </div>
                                        </fieldset>




                                        <fieldset class="form-columns-1">
                                            <div
                                                class="hs_mobilephone hs-mobilephone hs-fieldtype-text field hs-form-field smart-field">
                                                <label id="label-mobilephone-e1d6602c-c43e-4981-be2c-dd1f20f6cbfa_5968"
                                                    class="" placeholder="Enter your Número de teléfono"><span>Número de
                                                        teléfono</span><span class="hs-form-required">*</span></label>
                                                <legend class="hs-field-desc" style="display:none;"></legend>
                                                <div class="input"><input [(ngModel)]="form.user.phone"
                                                        id="mobilephone-e1d6602c-c43e-4981-be2c-dd1f20f6cbfa_5968"
                                                        type="tel" name="mobilephone" required="" value=""
                                                        placeholder="" autocomplete="mobile" inputmode="tel"></div>





                                            </div>
                                        </fieldset>



                                        <fieldset class="form-columns-2">
                                            <div
                                                class="hs_nivel_cargo hs-nivel_cargo hs-fieldtype-select field hs-form-field smart-field">
                                                <label id="label-nivel_cargo-e1d6602c-c43e-4981-be2c-dd1f20f6cbfa_5968"
                                                    class="" placeholder="Enter your Nivel del cargo"
                                                    for="nivel_cargo-e1d6602c-c43e-4981-be2c-dd1f20f6cbfa_5968"><span>Nivel
                                                        del cargo</span><span class="hs-form-required">*</span></label>
                                                <legend class="hs-field-desc" style="display:none;"></legend>
                                                <div class="input"><select
                                                        id="nivel_cargo-e1d6602c-c43e-4981-be2c-dd1f20f6cbfa_5968"
                                                        required="" class="hs-input" name="nivel_cargo"
                                                        [(ngModel)]="form.user.charge">
                                                        <option value="" disabled="" selected="">Seleccionar</option>
                                                        <option value="Gerente">Gerente</option>
                                                        <option value="Jefe">Jefe</option>
                                                        <option value="Encargado">Encargado</option>
                                                        <option value="Analista">Analista</option>
                                                    </select></div>
                                            </div>



                                            <div
                                                class="hs_servicio_que_le_interesa hs-servicio_que_le_interesa hs-fieldtype-checkbox field hs-form-field smart-field">
                                                <label
                                                    id="label-servicio_que_le_interesa-e1d6602c-c43e-4981-be2c-dd1f20f6cbfa_5968"
                                                    class="" placeholder="Enter your Servicio(s) de interes?"
                                                    for="servicio_que_le_interesa-e1d6602c-c43e-4981-be2c-dd1f20f6cbfa_5968"><span>Servicio(s)
                                                        de interes?</span><span
                                                        class="hs-form-required">*</span></label>
                                                <legend class="hs-field-desc" style="display:none;"></legend>
                                                <div class="input">
                                                    <ul required="" role="checkbox" class="inputs-list multi-container">
                                                        <li class="hs-form-checkbox" role="checkbox">
                                                            <label for="competencia" class="hs-form-checkbox-display">
                                                                <input id="competencia" class="hs-input" type="checkbox"
                                                                    (change)="changeStatus('Evaluación de competencia',$event)"
                                                                    name="competencia"
                                                                    value="Evaluación de competencia"><span>Evaluación
                                                                    de competencia</span>
                                                            </label>
                                                        </li>
                                                        <li class="hs-form-checkbox" role="checkbox">


                                                            <label for="gestion" class="hs-form-checkbox-display">
                                                                <input id="gestion" class="hs-input " type="checkbox"
                                                                    (change)="changeStatus('Tablero de gestión',$event)"
                                                                    name="gestion" value="Tablero de gestión">
                                                                <span>Tablero
                                                                    de gestión</span>
                                                            </label>
                                                        </li>
                                                        <li class="hs-form-checkbox" role="checkbox">

                                                            <label for="talos" class="hs-form-checkbox-display">
                                                                <input id="talos" class="hs-input " type="checkbox"
                                                                    (change)="changeStatus('TALOS',$event)" name="talos"
                                                                    value="TALOS"><span>TALOS</span></label>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </fieldset>
                                        <fieldset class="form-columns-1">
                                            <div
                                                class="hs_message hs-message hs-fieldtype-textarea field hs-form-field">
                                                <label
                                                    class="" placeholder="Enter your Mensaje"
                                                    for="message-e1d6602c-c43e-4981-be2c-dd1f20f6cbfa_5968"><span>Mensaje</span><span
                                                        class="hs-form-required">*</span></label>
                                                <legend class="hs-field-desc" style="display:none;"></legend>
                                                <div class="input"><textarea [(ngModel)]="form.message"

                                                        class="hs-input" name="message" required=""
                                                        placeholder=""></textarea></div>
                                            </div>
                                        </fieldset>
                                        <div class="hs_submit hs-submit">
                                            <div class="hs-field-desc" style="display:none;"></div>
                                            <div class="actions">
                                                <button (click)="sendMail()" type="submit" value="Enviar"
                                                    [disabled]="validateData()"
                                                    class="enviar">ENVIAR</button>
                                            </div>
                                        </div><noscript></noscript><input name="hs_context" type="hidden"><iframe
                                            name="target_iframe_e1d6602c-c43e-4981-be2c-dd1f20f6cbfa_5968"
                                            style="display:none;"></iframe>
                                    </form>

                                    <div *ngIf="message">
                                        <b>{{message}}</b>
                                    </div>
                                </div>
                            </span>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</span>
