<span id="hs_cos_wrapper_module_159595728012549"
    class="hs_cos_wrapper hs_cos_wrapper_widget_container hs_cos_wrapper_type_widget_container"
    data-hs-cos-general-type="widget_container" data-hs-cos-type="widget_container">
    <div id="hs_cos_wrapper_widget_1614949798581"
        class="hs_cos_wrapper hs_cos_wrapper_widget hs_cos_wrapper_type_module">
        <div class="pt0 pb0">

            <div class="pt30 contSliderBig  rel" style="padding-bottom: 1px;">
                <div class="sliderBig shSecm">
                    <div class="item">
                        <div class="container-fluid rel bgGray">
                            <div class="row shm">
                                <div class="container  rel z3 ">
                                    <div class="row ">
                                        <div class=" col-sm-5 col-xlg-5  col-lg-7  cont mb30">

                                            <h2>Somos un socio aliado y estratégico para tu empresa</h2>
                                            <p style="text-align: justify;">Apoyamos proactivamente los esfuerzos que
                                                realizan nuestros clientes para contar con trabajadores más productivos
                                                y más seguros. "Nuestra misión es ayudar a nuestros clientes a que
                                                cumplan su propia misión”.</p>
                                            <p style="text-align: justify;">Estamos acreditados por CHILEVALORA; nuestra
                                                trayectoria y actitud propositiva, junto con el registro y análisis de
                                                toda la información recolectada durante nuestros años de trabajo, nos
                                                permite proponer estrategias integrales de Gestión de Capital Humano.
                                            </p>


                                            <a routerLink="/contacto2" class="btn btn-default btn-lg mt20"
                                                title="Solicita más información">Solicita más información</a>

                                        </div>

                                        <div class=" col-sm-7 col-xlg-7  col-lg-5 img ir  pp">
                                            <img src="assets/hubfs/Gestion-capital-humano.jpg"
                                                alt="Gestión de capital humano" loading=""
                                                style="max-width: 100%; height: auto;">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>

                <div class="controls rel">
                    <div class="contCont container rel">
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div id="hs_cos_wrapper_widget_1614949802863"
        class="hs_cos_wrapper hs_cos_wrapper_widget hs_cos_wrapper_type_module" data-hs-cos-general-type="widget"
        data-hs-cos-type="module">
        <div class="container-fluid rel icons pt50 pb20">
            <div class="row">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12 rel pb20 tit">
                            <h2 style="text-align: center;">Nuestro equipo</h2>
                            <h4 class="mt40" style="text-align: center;">Plana Ejecutiva</h4>
                        </div>
                        <div class="col-sm-12 text-center cont rel shSec it4">

                            <div class="item pb30">
                                <div class="lineBox">
                                    <img src="{{organigrama.CristianArancibia.Imagen}}"
                                        alt="{{organigrama.CristianArancibia.Nombre}}">
                                    <div class="cont sh">
                                        <div class="int">
                                            <h5><span>{{organigrama.CristianArancibia.Nombre}}</span></h5>
                                            <p><span>{{organigrama.CristianArancibia.Cargo}}</span></p>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div class="item pb30">
                                <div class="lineBox">
                                    <img src="{{organigrama.CarolinaGarcia.Imagen}}"
                                        alt="{{organigrama.CarolinaGarcia.Nombre}}">
                                    <div class="cont sh">
                                        <div class="int">
                                            <h5><span>{{organigrama.CarolinaGarcia.Nombre}}</span></h5>
                                            <p><span>{{organigrama.CarolinaGarcia.Cargo}}</span></p>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div class="item pb30">
                                <div class="lineBox">
                                    <img src="{{organigrama.JenniferVelasquez.Imagen}}"
                                        alt="{{organigrama.JenniferVelasquez.Nombre}}">
                                    <div class="cont sh">
                                        <div class="int">
                                            <h5><span>{{organigrama.JenniferVelasquez.Nombre}}</span></h5>
                                            <p><span>{{organigrama.JenniferVelasquez.Cargo}}</span></p>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div id="hs_cos_wrapper_widget_1618501582611"
        class="hs_cos_wrapper hs_cos_wrapper_widget hs_cos_wrapper_type_module" data-hs-cos-general-type="widget"
        data-hs-cos-type="module">
        <div class="container-fluid rel icons pt20 pb20">
            <div class="row">
                <div class="col-sm-12 text-center cont rel shSec it4">
                    <h4 style="text-align: center;">Área Comercial</h4>


                    <div class="item pb30">
                        <div class="lineBox">
                            <img class="organigrama-img" src="{{organigrama.MariaMaldifassi.Imagen}}"
                                alt="{{organigrama.MariaMaldifassi.Nombre}}">
                            <div class="cont sh">
                                <div class="int">
                                    <h5><span>{{organigrama.MariaMaldifassi.Nombre}}</span></h5>
                                    <p><span>{{organigrama.MariaMaldifassi.Cargo}}</span></p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item pb30">
                        <div class="lineBox">
                            <img class="organigrama-img" src="{{organigrama.YamilaSepulveda.Imagen}}"
                                alt="{{organigrama.YamilaSepulveda.Nombre}}">
                            <div class="cont sh">
                                <div class="int">
                                    <h5><span>{{organigrama.YamilaSepulveda.Nombre}}</span></h5>
                                    <p><span>{{organigrama.YamilaSepulveda.Cargo}}</span></p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="item pb30">
                        <div class="lineBox">
                            <img class="organigrama-img" src="{{organigrama.PaulinaCortes.Imagen}}"
                                alt="{{organigrama.PaulinaCortes.Nombre}}">
                            <div class="cont sh">
                                <div class="int">
                                    <h5><span>{{organigrama.PaulinaCortes.Nombre}}</span></h5>
                                    <p><span>{{organigrama.PaulinaCortes.Cargo}}</span></p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="item pb30">
                        <div class="lineBox">
                            <img class="organigrama-img" src="{{organigrama.MariaJoseOrosco.Imagen}}"
                                alt="{{organigrama.MariaJoseOrosco.Nombre}}">
                            <div class="cont sh">
                                <div class="int">
                                    <h5><span>{{organigrama.MariaJoseOrosco.Nombre}}</span></h5>
                                    <p><span>{{organigrama.MariaJoseOrosco.Cargo}}</span></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>




         

            <div class="row">
                <div class="col-sm-12 rel pb20 tit">
                    <h4 style="text-align: center;">Área Operaciones</h4>
                </div>
                <div class="col-sm-12 text-center cont rel shSec it4">
                    <div class="item pb30">
                        <div class="lineBox">
                            <img src="{{organigrama.TeresaCalderon.Imagen}}"
                                alt="{{organigrama.TeresaCalderon.Nombre}}">
                            <div class="cont sh">
                                <div class="int">
                                    <h5><span>{{organigrama.TeresaCalderon.Nombre}}</span></h5>
                                    <p><span>{{organigrama.TeresaCalderon.Cargo}}</span></p>
                                </div>
                            </div>

                        </div>
                    </div>

                    <div class="item pb30">
                        <div class="lineBox">
                            <img src="{{organigrama.IvanVasquez.Imagen}}" alt="{{organigrama.IvanVasquez.Nombre}}">
                            <div class="cont sh">
                                <div class="int">
                                    <h5><span>{{organigrama.IvanVasquez.Nombre}}</span></h5>
                                    <p><span>{{organigrama.IvanVasquez.Cargo}}</span></p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="item pb30">
                        <div class="lineBox">
                            <img src="{{organigrama.AlejandraMorales.Imagen}}"
                                alt="{{organigrama.AlejandraMorales.Nombre}}">
                            <div class="cont sh">
                                <div class="int">
                                    <h5><span>{{organigrama.AlejandraMorales.Nombre}}</span></h5>
                                    <p><span>{{organigrama.AlejandraMorales.Cargo}}</span></p>
                                </div>
                            </div>
                        </div>
                    </div>




                    <div class="item pb30">
                        <div class="lineBox">
                            <img src="{{organigrama.CiomaraRios.Imagen}}" alt="{{organigrama.CiomaraRios.Nombre}}">
                            <div class="cont sh">
                                <div class="int">
                                    <h5><span>{{organigrama.CiomaraRios.Nombre}}</span></h5>
                                    <p><span>{{organigrama.CiomaraRios.Cargo}}</span></p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="item pb30">
                        <div class="lineBox">
                            <img class="organigrama-img" src="{{organigrama.MariaValenzuela.Imagen}}" alt="{{organigrama.MariaValenzuela.Nombre}}">
                            <div class="cont sh">
                                <div class="int">
                                    <h5><span>{{organigrama.MariaValenzuela.Nombre}}</span></h5>
                                    <p><span>{{organigrama.MariaValenzuela.Cargo}}</span></p>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="item pb30">
                        <div class="lineBox">
                            <img class="organigrama-img" src="{{organigrama.CarolinaAhumada.Imagen}}" alt="{{organigrama.CarolinaAhumada.Nombre}}">
                            <div class="cont sh">
                                <div class="int">
                                    <h5><span>{{organigrama.CarolinaAhumada.Nombre}}</span></h5>
                                    <p><span>{{organigrama.CarolinaAhumada.Cargo}}</span></p>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <div id="hs_cos_wrapper_widget_1618502001652"
        class="hs_cos_wrapper hs_cos_wrapper_widget hs_cos_wrapper_type_module" data-hs-cos-general-type="widget"
        data-hs-cos-type="module">
        <div class="container-fluid rel icons pt20 pb50">
            <div class="row">
                <div class="container">


                    <div class="row">
                        <div class="col-sm-12 rel pb20 tit">
                            <h4 style="text-align: center;">Área Staff</h4>
                        </div>
                    </div>


                    <div class="row">
                        <div class="col-sm-12 text-center cont rel shSec it4">


                            <div class="item pb30">
                                <div class="lineBox">
                                    <img src="{{organigrama.BorisRamirez.Imagen}}"
                                        alt="{{organigrama.BorisRamirez.Nombre}}">
                                    <div class="cont sh">
                                        <div class="int">
                                            <h5><span>{{organigrama.BorisRamirez.Nombre}}</span></h5>
                                            <p><span>{{organigrama.BorisRamirez.Cargo}}</span></p>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- <div class="item pb30">
                            <div class="lineBox">
                                <img src="assets/hubfs/garcia.png" alt="Jose García-Huidobro">
                                <div class="cont sh">
                                    <div class="int">
                                        <h5><span>Jose García-Huidobro</span></h5>
                                        <p><span>Jefe de Análisis y Estudios</span></p>
                                    </div>
                                </div>

                            </div>
                        </div> -->

                            <div class="item pb30">
                                <div class="lineBox">
                                    <img src="{{organigrama.HectorDias.Imagen}}"
                                        alt="{{organigrama.HectorDias.Nombre}}">
                                    <div class="cont sh">
                                        <div class="int">
                                            <h5><span>{{organigrama.HectorDias.Nombre}}</span></h5>
                                            <p><span>{{organigrama.HectorDias.Cargo}}</span></p>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="item pb30">
                                <div class="lineBox">
                                    <img src="{{organigrama.CamilaAraya.Imagen}}"
                                        alt="{{organigrama.CamilaAraya.Nombre}}">
                                    <div class="cont sh">
                                        <div class="int">
                                            <h5><span>{{organigrama.CamilaAraya.Nombre}}</span></h5>
                                            <p><span>{{organigrama.CamilaAraya.Cargo}}</span></p>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="item pb30">
                                <div class="lineBox">
                                    <img src="{{organigrama.ScarlettIglesias.Imagen}}"
                                        alt="{{organigrama.ScarlettIglesias.Nombre}}">
                                    <div class="cont sh">
                                        <div class="int">
                                            <h5><span>{{organigrama.ScarlettIglesias.Nombre}}</span></h5>
                                            <p><span>{{organigrama.ScarlettIglesias.Cargo}}</span></p>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="item pb30">
                                <div class="lineBox">
                                    <img src="{{organigrama.KattiaHenriquez.Imagen}}"
                                        alt="{{organigrama.KattiaHenriquez.Nombre}}">
                                    <div class="cont sh">
                                        <div class="int">
                                            <h5><span>{{organigrama.KattiaHenriquez.Nombre}}</span></h5>
                                            <p><span>{{organigrama.KattiaHenriquez.Cargo}}</span></p>
                                        </div>
                                    </div>
                                </div>
                            </div>


                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div id="hs_cos_wrapper_widget_1632420169481"
        class="hs_cos_wrapper hs_cos_wrapper_widget hs_cos_wrapper_type_module" data-hs-cos-general-type="widget"
        data-hs-cos-type="module">
        <div class="container-fluid rel mb20 pt50 pb50 bgGray bannerImg full imgl">

            <div class="img bgi" style="background-image:url(assets/hubfs/Propuesta-valor-mg-certifica.jpg)"></div>

            <div class="row">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-7 col-sm-offset-5 cont rel">

                            <h2>Nuestra Propuesta de Valor</h2>
                            <p>Somos un Centro de Evaluación y Certificación de Competencias Laborales, acreditado por
                                CHILEVALORA (Ley Nº 20.267) y conformado por profesionales en la gestión de RRHH.</p>
                            <p>Nuestros aportes de valor para tu empresa son:</p>
                            <ul>
                                <li>Rigurosidad e independencia en procesos de evaluación.</li>
                                <li>Información clara y precisa respecto de la brechas de competencia y de las
                                    recomendaciones de capacitación.</li>
                                <li>Innovación y tecnología de vanguardia en servicios.</li>
                                <li>Personalización de Tableros de Gestión para facilitar el análisis y apoyar la
                                    gestión de las áreas de RRHH y Capital Humano.</li>
                            </ul>



                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="hs_cos_wrapper_widget_1632420359616"
        class="hs_cos_wrapper hs_cos_wrapper_widget hs_cos_wrapper_type_module" data-hs-cos-general-type="widget"
        data-hs-cos-type="module">
        <div class="pt50 pb50">

            <div class="container">
                <div class="row">
                    <div class="col-sm-12 pb20 tit">
                        <h2>
                        </h2>
                        <h2 style="text-align: center;">Logros que respaldan nuestros servicios de calidad</h2>

                    </div>
                </div>
            </div>


            <div class="pt30 contSliderBig slBox rel" style="padding-bottom: 1px;">
                <div class="sliderBig shSecm">


                    <div class="item">
                        <div class="container-fluid rel ">
                            <div class="row shm">
                                <div class="container  rel z3 contBox">
                                    <div class="row box">


                                        <div class=" col-sm-6 col-xlg-6    img il mb30">






                                            <img src="assets/hubfs/Experiencia-MG.jpg" alt="Experiencia-MG" loading=""
                                                style="max-width: 100%; height: auto;">

                                        </div>


                                        <div class=" col-sm-6 col-xlg-6    cont mb30">

                                            <p>Tenemos una trayectoria impecable brindando servicios a empresas
                                                mandantes y contratistas de la Industria Minera, Construcción, Montaje
                                                Industria y Transporte y Logística. Hemos desarrollado <strong>más de
                                                    12.000 procesos de evaluación de competencias laborales</strong>,
                                                de los cuales un tercio corresponden a procesos de Certificación Ley.
                                            </p>
                                            <ul>
                                                <li style="font-size: 18px;"><strong>12.350 Procesos de Evaluación
                                                        Privada</strong></li>
                                                <li style="font-size: 18px;"><strong>2.120 Procesos de Evaluación
                                                        Ley</strong></li>
                                                <li style="font-size: 18px;"><strong>800 Horas hombre de
                                                        consultoría</strong></li>
                                                <li style="font-size: 18px;"><strong>350 Entrevistas
                                                        psicológicas</strong></li>
                                                <li style="font-size: 18px;"><strong style="font-size: 18px;">Proyectos
                                                        especiales</strong></li>
                                            </ul>



                                        </div>



                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>

                <div class="controls rel">
                    <div class="contCont container rel">
                    </div>
                </div>

            </div>
        </div>
    </div>


    <div id="hs_cos_wrapper_widget_1614951068631"
        class="hs_cos_wrapper hs_cos_wrapper_widget hs_cos_wrapper_type_module" data-hs-cos-general-type="widget"
        data-hs-cos-type="module">
        <div class="container-fluid rel pt20 pb20 bgWhite bannerSt">
            <div class="row">
                <div class="container rel">
                    <div class="row">
                        <div class="col-sm-12 text-center cont rel pt10 pb10 socials">

                            <h6 style="display:block; margin: 0;">Síguenos:</h6>

                            <ul class="list-style list-inline pt20">

                                <li>
                                    <a href="https://www.linkedin.com/company/mgcertifica/" class="fab fa-linkedin-in"
                                        target="_blank" title="Síguenos en LinkedIn"></a>
                                </li>

                            </ul>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <h1>Políticas de Gestión de Calidad</h1>

    <div class="box2">

        <div class="icon red">
            <span class="doc-icon pdf">☷</span>
            <span class="doc-type">PDF</span>
        </div>
    </div>
    <div class="centro">
        <a class="titulo" target="_blank" href="../../../assets/Politica SGC MG.pdf"></a>

    </div>


    <pdf-viewer [src]="pdfSrc" [render-text]="true" [original-size]="false"
        style="width: 100%; height: 1000px"></pdf-viewer>




</span>