<span id="hs_cos_wrapper_module_159595728012549" class="hs_cos_wrapper hs_cos_wrapper_widget_container hs_cos_wrapper_type_widget_container"  data-hs-cos-general-type="widget_container" data-hs-cos-type="widget_container">
    <div id="hs_cos_wrapper_widget_1614951948255" class="hs_cos_wrapper hs_cos_wrapper_widget hs_cos_wrapper_type_module"data-hs-cos-general-type="widget" data-hs-cos-type="module">
        <div class="pt0 pb0">


            <div class="pt30 contSliderBig  rel" style="padding-bottom: 1px;">
                <div class="sliderBig shSecm">


                    <div class="item">
                        <div class="container-fluid rel bgGray">
                            <div class="row shm">
                                <div class="container  rel z3 ">
                                    <div class="row ">



                                        <div class=" col-sm-6 col-xlg-6  col-lg-7  cont mb30">

                                            <h2>Ayudamos a gestionar las competencias de tus equipos</h2>
                                            <p>Realizamos procesos de Evaluación y Gestión de Competencias Laborales, utilizando instrumentos ajustados a tus necesidades como cliente para obtener resultados funcionales. Identificamos brechas y te ayudamos
                                                a cerrarlas para impulsar el desarrollo empresarial y el de tu personal.</p>


                                            <a routerLink="/contacto2" class="btn btn-default btn-lg mt20" title="Solicita más información">Solicita más información</a>


                                        </div>


                                        <div class=" col-sm-6 col-xlg-6  col-lg-5 img ir  pp">







                                            <img src="assets/hubfs/Servicios-competencias-laborales.jpg" alt="Servicios de competencias laborales" loading="" style="max-width: 100%; height: auto;">


                                        </div>


                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>

                <div class="controls rel">
                    <div class="contCont container rel">
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div id="hs_cos_wrapper_widget_1614951955985" class="hs_cos_wrapper hs_cos_wrapper_widget hs_cos_wrapper_type_module" data-hs-cos-general-type="widget" data-hs-cos-type="module">
        <div class="container-fluid rel pt50 pb50 bgWhite bannerImg">
            <div class="row">
                <div class="container">
                    <div class="row">


                        <div class="col-sm-6 col-xlg-6 rel pb30">
                            <div class="img">






                                <img src="assets/hubfs/Servicios-evaluacion-gestion-competencias-laborales.jpg" alt="Servicios de evaluación y gestión de competencias laborales" loading="lazy" style="max-width: 100%; height: auto;">

                            </div>
                        </div>



                        <div class="col-sm-6 col-xlg-6 cont rel">

                            <h2>Nuestros servicios</h2>
                            <p>Todos nuestros servicios están fundados en los lineamientos estratégicos del Sistema Nacional de Competencias Laborales:</p>
                            <ul>
                                <li style="font-size: 26px;">
                                    <h6>Evaluación y Certificación de Competencias Laborales</h6>
                                </li>
                                <li style="font-size: 26px;">
                                    <h6>Gestión de Competencias Laborales</h6>
                                </li>
                                <li style="font-size: 26px;">
                                    <h6>Identificación de brechas críticas (MGC_TALOS)</h6>
                                </li>
                            </ul>




                        </div>



                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="hs_cos_wrapper_widget_1617817213451" class="hs_cos_wrapper hs_cos_wrapper_widget hs_cos_wrapper_type_module" data-hs-cos-general-type="widget" data-hs-cos-type="module">
        <div class="container-fluid rel boxes pt20 pb20 bgGray">
            <div class="row">
                <div class="container">


                    <div class="row">
                        <div class="col-sm-12 rel pb20 tit">
                            <h2 style="text-align: center;">Brindamos soluciones integrales que responden a las necesidades de tu industria</h2>
                        </div>
                    </div>


                    <div class="row">
                        <div class="col-sm-12 col-xlg-10 col-xlg-offset-1 cont rel b3 shSec">


                            <div class="item pb30">
                                <div class="box">
                                    <div class="cont sh">
                                        <div class="int">
                                            <h5>Evaluación y Certificación de Competencias Laborales</h5>
                                            <div style="font-size: 18px; text-align: left;"><span>Verificamos si los trabajadores tienen las Competencias Laborales necesarias para desarrollar sus actividades e identificamos sus brechas.</span></div>
<div style="font-size: 18px; text-align: left;"><span>&nbsp;</span></div>
<ul style="font-size: 18px;">
    <li style="text-align: left;">
        <div>Certificación de Competencias Laborales según estándares de Ley 20.267.</div>
    </li>
    <li>
        <div style="text-align: left;">Acreditación privada de Competencias Laborales.</div>
    </li>
</ul>
</div>
</div>

<div class="text-center">
    <a routerLink="/contacto2" class="btn btn-default btn-lg mt20" title="Contáctanos">Contáctanos</a>
</div>

</div>
</div>

<div class="item pb30">
    <div class="box">
        <div class="cont sh">
            <div class="int">
                <h5>Gestión de Competencias Laborales</h5>
                <p style="font-size: 18px;"><span>Proveemos un tablero de gestión que muestra las brechas críticas de operadores y entrega recomendaciones de capacitación para optimizar tiempo y costos.</span></p>
                <p style="font-size: 18px;">&nbsp;</p>
                <ul style="font-size: 18px;">
                    <li>Levantamiento de perfiles.</li>
                    <li>Elaboración de instrumentos de evaluación.</li>
                    <li>Evaluación de competencias laborales.</li>
                    <li>Detección de necesidades de capacitación (DNC).</li>
                </ul>
            </div>
        </div>

        <div class="text-center">
            <a routerLink="/contacto2" class="btn btn-default btn-lg mt20" title="Contáctanos">Contáctanos</a>
        </div>

    </div>
</div>

<div class="item pb30">
    <div class="box">
        <div class="cont sh">
            <div class="int">
                <h5>MGC_TALOS</h5>
                <p><span>Con la inteligencia de datos es posible aprender del pasado e impactar el desempeño de las personas que conforman tu equipo de trabajo.</span></p>
                <p>&nbsp;</p>
                <ul>
                    <li><span>Tecnología de IA desarrollada en conjunto con CODELCO.</span></li>
                    <li><span>Asociación de las evaluaciones de Competencias Laborales con los índices de productividad y seguridad de las faenas.</span></li>
                </ul>
            </div>
        </div>

        <div class="text-center">
            <a routerLink="/contacto2" class="btn btn-default btn-lg mt20" title="Contáctanos">Contáctanos</a>
        </div>

    </div>
</div>


</div>
</div>
</div>
</div>

</div>
</div>
<div id="hs_cos_wrapper_widget_1614951998306" class="hs_cos_wrapper hs_cos_wrapper_widget hs_cos_wrapper_type_module" data-hs-cos-general-type="widget" data-hs-cos-type="module">
    <div class="container-fluid rel pt50 pb50 bgWhite bannerSt ">
        <div class="row">
            <div class="container rel">
                <div class="row">
                    <div class="col-sm-12 text-center cont rel">

                        <div data-hs-responsive-table="true" style="overflow-x: auto; max-width: 100%; width: 100%; margin-left: auto; margin-right: auto;">
                            <h1 style="text-align: center;">Foco de nuestros servicios</h1>
                            <p>&nbsp;</p>
                            <table border="0" style="width: 100%; border-color: #ffffff; border-style: none; border-collapse: collapse; table-layout: fixed;" cellpadding="4">
                                <tbody>
                                    <tr>
                                        <td style="width: 50%;">
                                            <ul>
                                                <li>Homogenización de los instrumentos de evaluación.</li>
                                                <li>Eliminación de la subjetividad en procesos.</li>
                                                <li style="text-align: left;"><span>Orientación eficaz respecto de la inversión en capacitación.</span></li>
                                            </ul>
                                        </td>
                                        <td style="width: 50%; vertical-align: top;">
                                            <ul>
                                                <li style="text-align: left;">Medición de elementos relevantes para clientes.</li>
                                                <!-- <li>Cierre de brechas detectadas en trabajadores evaluados.</li> -->
                                                <li>Mejora de productividad y desempeño en materias de seguridad.</li>
                                            </ul>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>



                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="hs_cos_wrapper_widget_1617823976780" class="hs_cos_wrapper hs_cos_wrapper_widget hs_cos_wrapper_type_module"  data-hs-cos-general-type="widget" data-hs-cos-type="module">
    <div class="container-fluid rel pt60 pb20 collSec faq">
        <div class="row">
            <div class="container">


                <div class="row">
                    <div class="col-sm-12 rel pb20 tit">
                        <h2 style="text-align: center;">Preguntas frecuentes</h2>
                    </div>
                </div>


                <div class="row">

                    <div class="col-sm-10 col-sm-offset-1 col-lg-8 col-lg-offset-2 pb30 rel">

                        <div class="panel-group acc" id="accordion1" role="tablist" aria-multiselectable="true">

                            <div class="panel panel-default">
                                <h4 class="panel-title">
                                    <a role="button" data-toggle="collapse" href="#collapse1" aria-expanded="true" class="panel-heading">
                    ¿Qué son las Competencias Laborales?z
                  </a>
                                </h4>
                                <div id="collapse1" class="panel-collapse collapse" role="tabpanel">
                                    <div class="panel-body">
                                        <p><span>Las Competencias Laborales son todos los conocimientos, actitudes y habilidades necesarias para cumplir exitosamente las actividades que componen una función laboral, según los estándares de cada sector productivo, y en particular de cada faena en específico.&nbsp;</span></p>
                                        <p><span>En base a estas competencias se construyen los perfiles ocupacionales que permiten evaluar y certificar a los trabajadores en diversos oficios.</span></p>
                                    </div>
                                </div>
                            </div>

                            <div class="panel panel-default">
                                <h4 class="panel-title">
                                    <a role="button" data-toggle="collapse" href="#collapse2" aria-expanded="true" class="panel-heading">
                    ¿Qué significa Acreditación de Competencias Laborales y cuál es la diferencia con Certificación Ley?
                  </a>
                                </h4>
                                <div id="collapse2" class="panel-collapse collapse" role="tabpanel">
                                    <div class="panel-body">
                                        <p><span>MG Certifica realiza el proceso de Evaluación de Competencias Laborales, utilizando los instrumentos diseñados para la evaluación de los “Procesos Certificación Ley”, ajustando el alcance de su aplicación para la obtención de resultados al objetivo de cada Cliente. Si bien los procesos privados de evaluación no son conducentes a la obtención de la Certificación Ley, sí permiten hacer la validación de las aptitudes laborales de los trabajadores, facilitando su acreditación para el ingreso a faena y la obtención de lineamientos específicos para la gestión de sus planes de Capacitación.</span></p>
                                        <p><span>El principal objetivo del proceso de Acreditación Privada es verificar si los trabajadores evaluados tienen las Competencias Laborales necesarias para desarrollar las actividades para las cuales han sido contratados. El principal resultado de esta evaluación es la acreditación de las Competencias Laborales de los trabajadores con relación a un Perfil Laboral. Complementariamente, MG Certifica entrega un Informe de Brechas de Competencia, documento que identifica explícitamente los aspectos deficitarios que impiden al trabajador alcanzar su máximo potencial. Lo anterior, permite determinar qué materias son relevantes de reforzar en los trabajadores para desarrollar y mejorar sus habilidades prácticas. Este informe se ha constituido como el principal aporte de MG Certifica a la gestión de desarrollo y capacitación del Capital Humano de sus Clientes.</span></p>
                                        <p><span>El proceso de Certificación Ley de Competencias Laborales, busca reconocer formalmente los conocimientos, habilidades y destrezas de las personas en un determinado oficio, independiente de la forma en que hayan sido adquiridas y de </span><span>si tienen o no un título o grado académico.</span></p>
                                        <p><span>La evaluación se realiza en base a un perfil ocupacional, el cual es el estándar definido que indica cuáles son los conocimientos que una persona debe tener para ejercer adecuadamente un oficio u ocupación.</span></p>
                                        <p><span>Este perfil es definido de forma tripartita mediante un acuerdo entre empleadores, trabajadores y el Estado, en mesas de trabajo representativas de una industria o sector productivo.</span></p>
                                    </div>
                                </div>
                            </div>

                            <div class="panel panel-default">
                                <h4 class="panel-title">
                                    <a role="button" data-toggle="collapse" href="#collapse3" aria-expanded="true" class="panel-heading">
                    ¿Qué significa que un Centro esté acreditado por ChileValora y cuál es la importancia?
                  </a>
                                </h4>
                                <div id="collapse3" class="panel-collapse collapse" role="tabpanel">
                                    <div class="panel-body">
                                        <p><span>Un Centro de Evaluación y Certificación de Competencias Laborales, es una entidad ejecutora, acreditada por la Comisión (del Sistema Nacional de Certificación de Competencias Laborales) para desarrollar los procesos de evaluación y certificación de competencias laborales (Decreto N°29 (2012). </span></p>
                                        <p><span>Este decreto aprueba el Reglamento que regula la acreditación de Centros de evaluación y certificación de competencias laborales y la habilitación de Evaluadores.&nbsp;</span></p>
                                    </div>
                                </div>
                            </div>

                            <div class="panel panel-default">
                                <h4 class="panel-title">
                                    <a role="button" data-toggle="collapse" href="#collapse4" aria-expanded="true" class="panel-heading">
                    ¿Cuánto tiempo tarda la Evaluación de Competencias Laborales y la emisión de un Informe de Evaluación?
                  </a>
                                </h4>
                                <div id="collapse4" class="panel-collapse collapse" role="tabpanel">
                                    <div class="panel-body">
                                        <p><span>El proceso de Evaluación tarda como máximo 48 horas, considerando la prueba teórica y práctica. </span></p>
                                        <p><span>La evaluación de Competencias Laborales de los trabajadores se ejecuta de acuerdo a la siguiente metodología de trabajo:</span></p>
                                        <ol>
                                            <li><span></span><span><strong>Introducción, Formalización e Inscripción</strong></span><span>: En un proceso muy abreviado, el Coordinador Técnico de explica al Candidato (Trabajador) el alcance del proceso en el que participará. </span></li>
                                            <li><span><strong>Evaluación de Evidencia Indirecta (10% de la Nota Final)</strong></span><span>: Corresponde a la evaluación de la documentación que da cuenta de la experiencia del Candidato evaluado en determinados criterios que se presentan en el perfil. Al respecto, cada perfil contempla documentación específica, la cual debe ser suministrada por el Cliente, o bien por el candidato a evaluar.</span></li>
                                            <li><span><strong>Aplicación de Prueba de Conocimientos Teóricos (30% de la Nota Final)</strong></span><span><strong>:</strong> Corresponde a la aplicación de la Prueba de Conocimientos Teóricos (PCT), instrumento que está compuesto por una serie de preguntas generales del equipo correspondiente, elaborada con base en el Perfil Laboral, siguiendo los lineamientos del catálogo nacional de Competencias Laborales (2 horas).</span></li>
                                            <li><span><strong>Aplicación de 1 Observación en Terreno (60% de la Nota Final)</strong></span><span>: Corresponde a la evaluación de las competencias de operación del equipo, evaluación que se desarrolla durante la “ejecución real” de la tarea por parte del Candidato. Esta evaluación se realizará específicamente en el equipo en el que el trabajador será Acreditado (Marca y Modelo), lo que se considera ejecutar un proceso de Observación en Terreno, por cada equipo que sea necesario. Esta observación es ejecutada por un evaluador experto, acreditado por ChileValora en el Perfil correspondiente (1 hora).</span></li>
                                        </ol>
                                        <p><span>Esta metodología </span><span>difiere</span><span> de los procesos de Certificación Ley, debido a que, en la Acreditación Privada, no considera ejecutar las siguientes actividades: Evaluación de la Jefatura Directa; Aplicación de las auditorías de terreno; La Segunda Observación en Terreno; y la realización de la Ceremonia de Certificación. Precisamente estos aspectos le dan el carácter de privada, permitiendo una mayor agilidad en los tiempos de respuesta.</span></p>
                                    </div>
                                </div>
                            </div>

                            <div class="panel panel-default">
                                <h4 class="panel-title">
                                    <a role="button" data-toggle="collapse" href="#collapse5" aria-expanded="true" class="panel-heading">
                    ¿Por qué es importante la Evaluación de Competencias Laborales?
                  </a>
                                </h4>
                                <div id="collapse5" class="panel-collapse collapse" role="tabpanel">
                                    <div class="panel-body">
                                        <p>La Evaluación de Competencias Laborales es importante porque permite conocer cuál es el nivel de desarrollo que tienen los operadores en las distintas competencias relacionadas con la operación de un equipo.</p>
                                        <p>La Evaluación de Competencias Laborales, es el primer paso para generar y desarrollar un plan de capacitación y reforzamiento que le permita al operador ir profesionalizando su desarrollo de carrera. Esta capacitación
                                            le permite ser un trabajador mas experto y le permite ir avanzando en su ruta formativa.</p>
                                    </div>
                                </div>
                            </div>

                            <div class="panel panel-default">
                                <h4 class="panel-title">
                                    <a role="button" data-toggle="collapse" href="#collapse6" aria-expanded="true" class="panel-heading">
                    ¿Por qué es importante la Detección de Necesidades de Capacitación (DNC)?
                  </a>
                                </h4>
                                <div id="collapse6" class="panel-collapse collapse" role="tabpanel">
                                    <div class="panel-body">
                                        <p>Porque le permite, tanto al operador como a la empresa, hacerse cargo de aquellas brechas que pueden afectar negativamente, en términos operacionales y de seguridad, el desempeño.</p>
                                        <p>Conocer estas brechas permite establecer un plan de trabajo que las cierre pertinentemente, de tal manera que se genere un impacto positivo en los trabajadores y en la propia empresa.</p>
                                    </div>
                                </div>
                            </div>

                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
</span>
