<div class="mb30">
  <div class="container-fluid contFix rel blogList top">
    <div class="row">
      <div class="container rel cf">
        <div class="row">
          <div class="col-sm-4 col-md-3 cf z2">
            <div class="filter pb30">
              <div class="row">
                <div class="col-xs-12 tf">
                  <h5><span>Categorías</span></h5>
                </div>
              </div>
              <ul>


                <li><a class="filter a" [routerLink]="['/brecha']" title="Evaluación de Competencias Laborales">Evaluación de Competencias Laborales</a></li>

                <li><a [routerLink]="['/evaluacion']" title="Brechas de competencias laborales">Brechas de competencias laborales</a></li>

              </ul>
            </div>
          </div>

          <div class="col-sm-8 col-md-9">

            <div class="row">
              <div class="col-sm-12 pb20">
                <div class="search">
                  <form action="https://www.mgcertifica.cl/hs-search-results" id="form1">
                    <div class="contSearch">
                      <input type="search" class="hs-search-field__input" name="term" autocomplete="off" placeholder="Buscar">
                    </div>
                    <button type="submit" form="form1" value="Submit" class="fa fa-search sdesk"></button>
                  </form>
                </div>
              </div>
            </div>


            <div class="row">
              <div class="col-sm-12 first mb50">






                <div class="row">
                  <div class="col-sm-6 pb20">
                  <div class="img bgi" style="background-image: url('/assets/Talos eventos no deseados.jpeg')">
                  </div>
                  </div>
                  <div class="col-sm-6 pb20">
                    <div class="cont">
                      <h6 class="date">16/09/2021 <span class="pull-right">Lectura: 3min</span></h6>
                      <h1><a [routerLink]="['/talos']" title="Talos: Aprende de errores pasados para prevenir accidentes laborales">Talos: Aprende de errores pasados para prevenir accidentes laborales</a></h1>
                      <p>Mejorar la gestión de tu empresa es vital para llevar a cabo un&nbsp; trabajo más eficiente y&nbsp; más seguro. Y esto aplica para todas las áreas, ya que estamos hablando del desempeño de las personas, donde ...</p>
                      <div class="cta pt20">
                        <a [routerLink]="['/talos']" class="btn btn-default btn-lg" title="Leer más">Leer Más</a>
                      </div>
                    </div>
                  </div>
                </div>



              </div>
            </div>
            <div class="row shSec">



            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
  </div>




  <div class="container blogList pt30">
    <div class="row shSec loadmoreSec">
      <div class="blog-listing-wrapper">
        <div class="post-listing">




        </div>
      </div>
    </div>

    <div class="row hide">
      <div class="col-sm-12 text-center">
        <div class="load-spin-wrapper pb50">
          <div class="load-spin"><i class="fa fa-spinner"></i></div>
        </div>
      </div>
    </div>

  </div>


  <!-- Modal -->
  <div class="modal fade" id="modalSusc" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
          <h4 class="modal-title" id="myModalLabel">Suscripción al Blog</h4>
        </div>
        <div class="modal-body">
          <div id="hs_cos_wrapper_blog_template_email_subscription" class="hs_cos_wrapper hs_cos_wrapper_widget hs_cos_wrapper_type_module widget-type-blog_subscribe" style="" data-hs-cos-general-type="widget" data-hs-cos-type="module"><span id="hs_cos_wrapper_blog_template_email_subscription_blog_subscribe" class="hs_cos_wrapper hs_cos_wrapper_widget hs_cos_wrapper_type_blog_subscribe" style="" data-hs-cos-general-type="widget" data-hs-cos-type="blog_subscribe"><h3 id="hs_cos_wrapper_blog_template_email_subscription_blog_subscribe_title" class="hs_cos_wrapper form-title" data-hs-cos-general-type="widget_field" data-hs-cos-type="text"></h3>

  <div id="hs_form_target_blog_template_email_subscription_blog_subscribe_2988"></div>



  </span></div>
          <br>
          <br>
        </div>
      </div>
    </div>
  </div>
