<span
  id="hs_cos_wrapper_module_159595728012549"
  class="hs_cos_wrapper hs_cos_wrapper_widget_container hs_cos_wrapper_type_widget_container"
  data-hs-cos-general-type="widget_container"
  data-hs-cos-type="widget_container"
  ><div
    id="hs_cos_wrapper_widget_1614873924755"
    class="hs_cos_wrapper hs_cos_wrapper_widget hs_cos_wrapper_type_module"
    data-hs-cos-general-type="widget"
    data-hs-cos-type="module"
  >
    <div class="pt0 pb0">
      <div class="pt30 contSliderBig rel" style="padding-bottom: 1px">
        <div class="sliderBig shSecm">


          <div class="item">
            <div class="container-fluid rel bgGray">
              <div class="row shm">
                <div class="container rel z3">
                  <div class="row">
                    <div class="col-sm-5 col-xlg-5 col-lg-7 cont mb30">
                      <h2>
                        Certificación Norma ISO 9001:2015
                      </h2>
                      <p>
                        En MG Certifica terminamos el año 2022 logrando uno de nuestros grandes objetivos, obtener la Certificación en la Norma Internacional ISO 9001:2015.
                        Junto con agradecer a todo el equipo que logro este reconocimiento, estamos orgullosos de nuestra capacidad de trabajo alineados con los más altos estándares de calidad.

                         <br>
                         Nuestra meta como empresa es continuar trabajando en un Sistema de Gestión de la Calidad comprometidos con nuestros clientes.
                         ¡Vamos por nuevos desafíos!

                         <br>

                      </p>

                      <a
                        routerLink="/contacto2"
                        class="btn btn-default btn-lg mt20"
                        title="Solicita más información"
                        >Solicita más información</a
                      >
                    </div>

                    <div class="col-sm-7 col-xlg-7 col-lg-5 img ir pp">
                      <img
                        src="assets/hubfs/img/iso.png"
                        alt="Gestionar Competencias Laborales"
                        loading=""
                        style="max-width: 100%; height: auto"
                      />
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>



          <div class="item">
            <div class="container-fluid rel bgGray">
              <div class="row shm">
                <div class="container rel z3">
                  <div class="row">
                    <div class="col-sm-5 col-xlg-5 col-lg-7 cont mb30">
                      <h2>
                        MG Certifica y su compromiso con la comunidad
                      </h2>
                      <p>
                        Como agentes de cambio, en MG Certifica estamos consciente de la importancia de establecer lazos y contribuir en el desarrollo de nuestra comunidad. En esta ocasión nos reunimos con Alex Gonzalez,
                         Encargado de Asuntos Corporativos de Codelco Andina, para coordinar acciones concretas en apoyo al Liceo Bicentenario Pedro Aguirre Cerda de Calle Larga.
                         <br>
                         Dentro de las actividades, conocimos los simuladores que se utilizan para capacitar y evaluar las competencias de los trabajadores en la conducción. Esta herramienta permite poner a prueba las habilidades y la
                         reacción que se tiene ante distintas situaciones para prevenir la ocurrencia de accidentes.
                         <br>
                         La implementación de esta tecnología y su uso por parte de la comunidad favorecerá el desarrollo de Competencias Laborales y la seguridad de las personas en sus áreas de trabajo.
                      </p>

                      <a
                        routerLink="/contacto2"
                        class="btn btn-default btn-lg mt20"
                        title="Solicita más información"
                        >Solicita más información</a
                      >
                    </div>

                    <div class="col-sm-7 col-xlg-7 col-lg-5 img ir pp">
                      <img
                        src="assets/hubfs/img/Simulador.jpeg"
                        alt="Gestionar Competencias Laborales"
                        loading=""
                        style="max-width: 100%; height: auto"
                      />
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="item">
            <div class="container-fluid rel bgGray">
              <div class="row shm">
                <div class="container rel z3">
                  <div class="row">
                    <div class="col-sm-5 col-xlg-5 col-lg-7 cont mb30">
                      <h2>
                        Adjudicación Licitación Codelco, Faena El Salvador
                      </h2>
                      <p>
                        Durante el mes de noviembre recibimos la gran noticia de
                        adjudicación del proyecto “Evaluación y Certificación de
                        Competencias Laborales Operadores de equipo” ubicada en
                        Faena El Salvador. <br />
                        Son más de 200 personas a certificar en 7 perfiles. Se
                        comenzará a realizar durante el mes de enero 2023 y
                        tendrá una duración de 4 meses. <br />
                        felicitar al gran equipo de MG Certifica por la calidad
                        de su propuesta y su compromiso en ser lideres en la
                        Gestión de Competencias Laborales a nivel nacional.
                        <br /><strong>¡Felicidades MG!</strong>
                      </p>

                      <a
                        routerLink="/contacto2"
                        class="btn btn-default btn-lg mt20"
                        title="Solicita más información"
                        >Solicita más información</a
                      >
                    </div>

                    <div class="col-sm-7 col-xlg-7 col-lg-5 img ir pp">
                      <img
                        src="assets/hubfs/img/codelco.jpg"
                        alt="Gestionar Competencias Laborales"
                        loading=""
                        style="max-width: 100%; height: auto"
                      />
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="item">
            <div class="container-fluid rel bgGray">
              <div class="row shm">
                <div class="container rel z3">
                  <div class="row">
                    <div class="col-sm-5 col-xlg-5 col-lg-7 cont mb30">
                      <h2>Entrevista Radio ADN MG Certifica</h2>
                      <p style="font-size: 16px">
                        <span
                          >Como empresa estamos comprometidos a continuar
                          apoyando de manera proactiva la gestión del capital
                          humano. Por este motivo creamos una alianza entre el
                          Liceo Técnico Profesional Pedro Aguirre Cerda de Calle
                          Larga y MG Certifica. Este vínculo empresa-comunidad
                          va a permitir a los alumnos ingresar al mercado
                          laboral con competencias y conocimientos relevantes
                          para las compañías.</span
                        >
                        <br />Según lo que indico Cristian Arancibia, Gerente
                        General de MG Certifica a Radio ADN,
                        <strong>
                          Es necesario alinear la demanda y oferta laboral en
                          aquellos campos donde se requieran más personas
                          debidamente formadas. Enriquecer las mallas
                          curriculares de los alumnos les permitirá ser más
                          competitivos, competentes y estar más seguros en sus
                          lugares de trabajo. Nuestra responsabilidad social es
                          la de inspirar el talento de los futuros
                          trabajadores.</strong
                        >
                      </p>

                      <a
                        href="https://mgcertifica-my.sharepoint.com/:v:/g/personal/ftapia_mgcertifica_cl/ESiG6IxmY0dFg3V4v1ZGidQB_6IxxrhIMzpjKdqKfZHNZQ?e=7BvCYI"
                        target="_blank"
                        rel="noopener noreferrer"
                        class="btn btn-default btn-lg mt20"
                        title="Solicita más información"
                        >Ver Video</a
                      >
                    </div>
                    <div class="col-sm-7 col-xlg-7 col-lg-5 img ir pp">
                      <img
                        src="assets/Entrevista.png"
                        alt="Evaluar Competencias Laborales"
                        loading=""
                        style="max-width: 100%; height: auto"
                      />
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>



          <div class="item">
            <div class="container-fluid rel bgGray">
              <div class="row shm">
                <div class="container rel z3">
                  <div class="row">
                    <div class="col-sm-5 col-xlg-5 col-lg-7 cont mb30">
                      <h2>
                        Acompañamos a tu empresa para hacer Gestión por
                        Competencias
                      </h2>
                      <p>
                        <span
                          >Realizamos procesos formales de evaluación y
                          certificación de competencias laborales a través de un
                          acompañamiento profesional para ayudarte a d</span
                        >etectar áreas de oportunidad, eliminar fallas y
                        aprovechar las fortalezas relacionadas con tu equipo.
                      </p>

                      <a
                        routerLink="/contacto2"
                        class="btn btn-default btn-lg mt20"
                        title="Solicita más información"
                        >Solicita más información</a
                      >
                    </div>

                    <div class="col-sm-7 col-xlg-7 col-lg-5 img ir pp">
                      <img
                        src="assets/hubfs/Evaluar-competencas-laborales.jpg"
                        alt="Evaluar Competencias Laborales"
                        loading=""
                        style="max-width: 100%; height: auto"
                      />
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>


        </div>

        <div class="controls rel">
          <div class="contCont container rel"></div>
        </div>
      </div>
    </div>
  </div>
  <div
    id="hs_cos_wrapper_widget_1614873935356"
    class="hs_cos_wrapper hs_cos_wrapper_widget hs_cos_wrapper_type_module"
    data-hs-cos-general-type="widget"
    data-hs-cos-type="module"
  >
    <div class="container-fluid rel icons pt50 pb20">
      <div class="row">
        <div class="container">
          <div class="row">
            <div class="col-sm-12 rel pb20 tit">
              <h2 style="text-align: center">
                Proveemos soluciones para tu industria
              </h2>
            </div>
          </div>

          <div class="row">
            <div class="col-sm-12 text-center cont rel shSec it3">
              <div class="item pb30">
                <div class="lineBox">
                  <img
                    src="assets/hubfs/Evaluacion-certificacion-competencias-laborales-MG-Certifica.png"
                  />
                  <div class="cont sh">
                    <div class="int">
                      <h6>
                        Evaluación y Certificación de Competencias Laborales
                      </h6>
                      <p>
                        <span
                          >Realizamos la certificación de las Competencias
                          Laborales de trabajadores, bajo los requisitos de la
                          Ley 20.267, y también la acreditación privada de las
                          mismas, según necesidades de clientes.</span
                        >
                      </p>
                    </div>
                  </div>

                  <a
                    routerLink="/servicios"
                    class="btn btn-default btn-lg mt20"
                    title="Conoce más"
                    >Conoce más</a
                  >
                </div>
              </div>

              <div class="item pb30">
                <div class="lineBox">
                  <img
                    src="assets/hubfs/TALOS-MG-Certifica.png"
                    alt="Gestión de Competencias Laborales en MG Certifica"
                  />
                  <div class="cont sh">
                    <div class="int">
                      <h6>Gestión de Competencias Laborales</h6>
                      <p>
                        Ejecutamos levantamiento de perfiles, elaboramos
                        instrumentos de evaluación, evaluamos Competencias
                        Laborales y detectamos necesidades de capacitación en el
                        recurso humano.
                      </p>
                    </div>
                  </div>

                  <a
                    routerLink="/servicios"
                    class="btn btn-default btn-lg mt20"
                    title="Conoce más"
                    >Conoce más</a
                  >
                </div>
              </div>

              <div class="item pb30">
                <div class="lineBox">
                  <img
                    src="assets/hubfs/Gestion-competencias-MG-Certifica.png"
                    alt="MGC_TALOS"
                  />
                  <div class="cont sh" style="height: 181.156px">
                    <div class="int">
                      <h6>MGC_TALOS</h6>
                      <p>
                        Usamos herramientas de Machine Learning e Inteligencia
                        Artificial para identificar patrones de Competencias
                        Laborales que se configuraron como condición para la
                        ocurrencia de accidentes, incidentes y fallas
                        operacionales en el pasado y de esta manera no
                        repetirlas en el futuro.
                      </p>
                    </div>
                  </div>

                  <a
                    routerLink="/servicios"
                    class="btn btn-default btn-lg mt20"
                    title="Conoce más"
                    >Conoce más</a
                  >
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div
    id="hs_cos_wrapper_widget_1614873955218"
    class="hs_cos_wrapper hs_cos_wrapper_widget hs_cos_wrapper_type_module"
    data-hs-cos-general-type="widget"
    data-hs-cos-type="module"
  >
    <div class="container-fluid rel pt50 pb50 bgWhite bannerSt lin">
      <div class="row">
        <div class="container rel">
          <div class="row">
            <div class="col-sm-10 col-sm-offset-1 text-center cont rel">
              <h1>
                <span style="color: #cd0d21"
                  >La adecuada Evaluación y Gestión de Competencias L</span
                ><span style="color: #cd0d21"
                  >aborales de las personas tiene relación directa con los
                  resultados de las empresas</span
                >
              </h1>
              <p>&nbsp;</p>
              <p>
                Evaluamos, gestionamos y entregamos recomendaciones de mejora
                sobre las Competencias Laborales de los colaboradores para
                ayudar a detectar oportunidades, identificar brechas críticas de
                conocimiento y tomar decisiones oportunas que impulsen el
                crecimiento, la productividad y la seguridad de las compañías.
              </p>
              <p>
                Nuestros servicios están fundados en los lineamientos
                estratégicos del Sistema Nacional de Competencias Laborales, por
                lo que tenemos como objetivo acompañar todos los procesos de
                gestión del recurso humano, con una mirada estandarizada, acorde
                a los lineamientos generales de la industria.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div
    id="hs_cos_wrapper_widget_1614874526779"
    class="hs_cos_wrapper hs_cos_wrapper_widget hs_cos_wrapper_type_module"
    data-hs-cos-general-type="widget"
    data-hs-cos-type="module"
  >
    <div class="container-fluid rel pt50 pb50 bgGray bannerDownload">
      <div class="row">
        <div class="container rel pt30 pb30">
          <div class="row">
            <div class="col-sm-10 col-sm-offset-1 cont rel text-center">
              <h2>
                ¿Sabes cómo realizar una Evaluación de Competencias Laborales?
              </h2>
              <p>
                <br />Descarga gratis nuestra presentación con los aspectos
                claves que debes considerar en tu Evaluación de Competencias
                Laborales para medir correctamente el desempeño de tus
                trabajadores.
              </p>

              <a
                routerLink="/competenciaslaborales"
                class="btn btn-default btn-lg mt20"
                title="Me interesa"
                >Me interesa</a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div
    id="hs_cos_wrapper_widget_1623679927725"
    class="hs_cos_wrapper hs_cos_wrapper_widget hs_cos_wrapper_type_module"
    data-hs-cos-general-type="widget"
    data-hs-cos-type="module"
  >
    <div class="container-fluid">
      <div class="row">
        <div class="container pt40 pb20 blogList recPosts">
          <div class="row">
            <div class="col-sm-12 pb30 tit">
              <h2>Accede a más información en nuestro blog:</h2>
            </div>
          </div>
          <div class="row shSec">
            <div class="col-sm-4 blog-post">
              <div class="mb50 rel">
                <a
                  title="Talos: Aprende de errores pasados para prevenir accidentes laborales"
                >
                  <div
                    class="img bgi lazyload"
                    data-src="https://f.hubspotusercontent30.net/hubfs/9013934/Talos%20eventos%20no%20deseados.jpeg"
                    style="background-image: url('hubfs/img/share-default.jpg')"
                  ></div>
                </a>

                <div class="cont sh text-center">
                  <h6 class="date">
                    16/09/2021 <span class="pull-right">Lectura: 3min</span>
                  </h6>
                  <h3>
                    <a
                      >Talos: Aprende de errores pasados para prevenir
                      accidentes laborales</a
                    >
                  </h3>
                  <p>
                    Mejorar la gestión de tu empresa es vital para llevar a cabo
                    un&nbsp; trabajo más eficiente y&nbsp; más seguro. Y esto
                    aplica para todas las áreas, ya que estamos hablando del
                    desempeño de las personas, donde ...
                  </p>
                </div>
                <div class="cta pt20 text-center">
                  <a
                    [routerLink]="'/blog/'"
                    class="btn btn-default btn-lg"
                    title="Talos: Aprende de errores pasados para prevenir accidentes laborales"
                    >Leer Más</a
                  >
                </div>
              </div>
            </div>

            <div class="col-sm-4 blog-post">
              <div class="mb50 rel">
                <div
                  class="img bgi lazyload"
                  data-src="https://f.hubspotusercontent30.net/hubfs/9013934/consejos-evaluacion-de-competencias-laborales.jpg"
                  style="background-image: url('hubfs/img/share-default.jpg')"
                ></div>

                <div class="cont sh text-center">
                  <h6 class="date">
                    06/07/2021 <span class="pull-right">Lectura: 3min</span>
                  </h6>
                  <h3>
                    4 consejos para una Evaluación de Competencias Laborales
                  </h3>
                  <p>
                    La manera más efectiva de saber si tus trabajadores tienen
                    las habilidades necesarias para desarrollar su trabajo sin
                    problema, es la Evaluación de Competencias Laborales. Llevar
                    a cabo este proceso ...
                  </p>
                </div>
                <div class="cta pt20 text-center">
                  <a [routerLink]="'/blog/'" class="btn btn-default btn-lg"
                    >Leer Más</a
                  >
                </div>
              </div>
            </div>

            <div class="col-sm-4 blog-post">
              <div class="mb50 rel">
                <a
                  title="¿Por qué evaluar permite mejorar la Gestión de Competencias Laborales?"
                >
                  <div
                    class="img bgi lazyload"
                    data-src="https://f.hubspotusercontent30.net/hubfs/9013934/evaluacion-mejora-gestion-competencias-laborales.jpg"
                    style="background-image: url('hubfs/img/share-default.jpg')"
                  ></div>
                </a>

                <div class="cont sh text-center">
                  <h6 class="date">
                    05/07/2021 <span class="pull-right">Lectura: 2min</span>
                  </h6>
                  <h3>
                    <a
                      >¿Por qué evaluar permite mejorar la Gestión de
                      Competencias Laborales?</a
                    >
                  </h3>
                  <p>
                    La Gestión de Competencias Laborales es un proceso que
                    utilizan las áreas de recursos humanos y relaciones
                    laborales para impulsar y fortalecer todos los conocimientos
                    y habilidades que requiere un ...
                  </p>
                </div>
                <div class="cta pt20 text-center">
                  <a
                    [routerLink]="'/blog/'"
                    class="btn btn-default btn-lg"
                    title="¿Por qué evaluar permite mejorar la Gestión de Competencias Laborales?"
                    >Leer Más</a
                  >
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</span>

<!-------------------------------------------------------------------------------------------------------->
