<app-spinner></app-spinner>
<!--navbar-->
<!-- ============================================================== -->
<app-navbar></app-navbar>
<!-- ============================================================== -->



<!--sistema de rutas-->
<!-- ============================================================== -->
<router-outlet></router-outlet>
<!-- ============================================================== -->




<!-- footer -->
<!-- ============================================================== -->
<app-footer></app-footer>

<!-- ============================================================== -->