<div class="container-fluid rel pt50 pb50 bannerSt">
    <div class="row">
        <div class="container">
            <div class="row">
                <div class="col-sm-10 col-sm-offset-1 text-center cont rel">

                    <h1>Ha ocurrido un error</h1>
                    <h5>La página que buscabas al parecer no existe.</h5>
                    <p>&nbsp;</p>
                    <p><img src="../../../assets/hubfs/img/error.webp" alt="Error" width="380"></p>
                    <p>&nbsp;</p>
                    <h5>Intenta volver al inicio</h5>

                    <a href="index.html" class="btn btn-default btn-lg mt20" title="Ir a inicio">Ir a inicio</a>

                </div>
            </div>
        </div>
    </div>
</div>
