<div class="container-fluid">
    <div class="row">
      <div class="container pt30 pb100">
              <div class="row">
          <div class="col-sm-12 text-center pb50">
                      <h1>
                          Resultados de tu búsqueda
                      </h1>
                      
                  </div>
              </div>
        <div class="row">
          <div class="col-sm-8 col-sm-offset-2">
                      <div id="hs_cos_wrapper_search_results_page_search_results" class="hs_cos_wrapper hs_cos_wrapper_widget hs_cos_wrapper_type_module" style="" data-hs-cos-general-type="widget" data-hs-cos-type="module"><div class="hs-search-results">
    <template class="hs-search-results__template">
      <li>
        
        <a href="#" class="hs-search-results__title">Content Title</a>
        <p class="hs-search-results__description">Description</p>
      </li>
    </template>
    <ul id="hsresults" class="hs-search-results__listing"></ul>
    <div class="hs-search-results__pagination" data-search-path="hs-search-results">
     
    </div>
  </div></div>
          </div>
        </div>
      </div>
    </div>
  </div>