<span id="hs_cos_wrapper_module_159595728012549" class="hs_cos_wrapper hs_cos_wrapper_widget_container hs_cos_wrapper_type_widget_container" data-hs-cos-general-type="widget_container" data-hs-cos-type="widget_container"><div id="hs_cos_wrapper_widget_1614732686510" class="hs_cos_wrapper hs_cos_wrapper_widget hs_cos_wrapper_type_module"  data-hs-cos-general-type="widget" data-hs-cos-type="module">
    <div class="container-fluid rel pt50 pb50 bgWhite bannerImg">
    <div class="row">
      <div class="container">
        <div class="row">
                  
          <div class="col-sm-6 col-xlg-6 cont rel">
            
            <h2>Evalúa correctamente las competencias de tus colaboradores</h2>
  <p>Descarga gratis la presentación con los aspectos clave que debes considerar para medir adecuadamente los conocimientos, habilidades y aptitudes de tus operadores; pensando en su desarrollo y crecimiento de tu organización.</p>



  
  <!----------------------------------------------------------------------modal------------------------------------->

  
  <!-- Modal -->
  <div  class="modal fade modalSec" id="modalDescarga" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
<h4 class="modal-title" id="myModalLabel">Descarga los Aspectos clave del proceso de evaluación de competencias laborales</h4>
</div>
<div class="modal-body">




    <div class="pt20 pb20">
        <span id="hs_cos_wrapper_widget_1624573660693_" class="hs_cos_wrapper hs_cos_wrapper_widget hs_cos_wrapper_type_form" data-hs-cos-general-type="widget" data-hs-cos-type="form"><h3 id="hs_cos_wrapper_form_822651923_title" class="hs_cos_wrapper form-title" data-hs-cos-general-type="widget_field" data-hs-cos-type="text"></h3>
                          
                                                 
           <div id="hs_form_target_form_822651923">


                    <form *ngIf="!message" accept-charset="UTF-8" id="contactForm"  method="POST" class="hs-form stacked hs-custom-form hs-form-private hsForm_87773adc-a420-4645-917c-01a6cf8ca5db hs-form-87773adc-a420-4645-917c-01a6cf8ca5db hs-form-87773adc-a420-4645-917c-01a6cf8ca5db_7611cb66-27a8-476f-8025-11846b8cef77  hs-form-87773adc-a420-4645-917c-01a6cf8ca5db_36bdead3-f676-47a8-babb-58c45fc66956  hs-form-87773adc-a420-4645-917c-01a6cf8ca5db_a68cce31-dd8c-4c92-a681-50f81697aabe"
                        data-form-id="87773adc-a420-4645-917c-01a6cf8ca5db" data-portal-id="9013934" target="target_iframe_87773adc-a420-4645-917c-01a6cf8ca5db_8634" data-hs-cf-bound="true">
                            <fieldset class="form-columns-2">

                  <!-------------------------------------nombre------------------------------------------------->              
                <div class="hs_firstname hs-firstname hs-fieldtype-text field hs-form-field"><label id="label-firstname-87773adc-a420-4645-917c-01a6cf8ca5db_8634" class="" placeholder="Enter your Nombre" for="firstname-87773adc-a420-4645-917c-01a6cf8ca5db_8634"><span >Nombre</span>
                    <span class="hs-form-required">*</span>
                    </label>
                      <legend class="hs-field-desc" style="display:none;"></legend>
                      <div class="input">
                        <input id="firstname" type="text" name="firstname"  class="hs-input invalid error is-placeholder" minlength="5" required="" value="" placeholder="" autocomplete="given-name" inputmode="text" [(ngModel)]="form.user.name">>

                        </div>


                            <ul  class="no-list hs-error-msgs inputs-list" style="display:block;" role="alert">
                              <li ><label  class="hs-error-msg" class="hs-input invalid error">Rellena este campo obligatorio.</label></li>
                            </ul>
                </div>

    <!------------------------------------email--------------------------------------------------------->
    <div class="hs_email hs-email hs-fieldtype-text field hs-form-field"><label id="label-email-87773adc-a420-4645-917c-01a6cf8ca5db_8634"  placeholder="Enter your Correo" for="email-87773adc-a420-4645-917c-01a6cf8ca5db_8634"><span >Correo</span><span class="hs-form-required" >*</span></label>
        <legend class="hs-field-desc" style="display:none;"></legend>
        <div class="input"><input id="email"  [(ngModel)]="form.user.mail" type="email" name="email" required autocomplete="email" inputmode="email" class="hs-input invalid error is-placeholder" pattern="/^[a-z]+[a-z0-9._]+@[a-z]+\.[a-z.]{2,5}$/">
        </div>

        <ul  class="no-list hs-error-msgs inputs-list" style="display:block;" role="alert">
            <li><label   class="hs-error-msg"  class="hs-input invalid error">Rellena este campo obligatorio.</label></li>
        </ul>
    </div>
    </fieldset>

    <!------------------------------------nombre-empresa--------------------------------------------------------->
    <fieldset class="form-columns-2">
        <div class="hs_company hs-company hs-fieldtype-text field hs-form-field smart-field"><label id="label-company-87773adc-a420-4645-917c-01a6cf8ca5db_8634" class="" placeholder="Enter your Nombre de la empresa" for="company-87773adc-a420-4645-917c-01a6cf8ca5db_8634"><span>Nombre de la empresa</span><span class="hs-form-required" >*</span></label>
            <legend class="hs-field-desc" style="display:none;"></legend>
            <div class="input"><input id="company-87773adc-a420-4645-917c-01a6cf8ca5db_8634" [(ngModel)]="form.user.empresa"  type="text" name="company" required="" class="hs-input invalid error is-placeholder" value="" placeholder="" autocomplete="organization" inputmode="text"></div>

            <ul class="no-list hs-error-msgs inputs-list" style="display:block;" role="alert">
                <li><label class="hs-error-msg" class="hs-input invalid error">Rellena este campo obligatorio.</label></li>
            </ul>

        </div>

        <!------------------------------------area--------------------------------------------------------->
        <div class="hs_area hs-area hs-fieldtype-select field hs-form-field smart-field"><label id="label-area-87773adc-a420-4645-917c-01a6cf8ca5db_8634" class="" placeholder="Enter your Área" for="area-87773adc-a420-4645-917c-01a6cf8ca5db_8634"><span>Área</span><span class="hs-form-required">*</span></label>
            <legend class="hs-field-desc" style="display:none;"></legend>
            <div class="input">
                <select id="area-87773adc-a420-4645-917c-01a6cf8ca5db_8634" required [(ngModel)]="form.user.area" class="hs-input invalid error is-placeholder" name="area">
                    <option value="" disabled="" selected="" >Seleccionar</option>
                    <option value="Recursos humanos">Recursos humanos</option>
                    <option value="Relaciones laborales">Relaciones laborales</option>
                    <option value="Seguridad">Seguridad</option>
                    <option value="Desarrollo Organizacional">Desarrollo Organizacional</option>
                    <option value="Capacitación" >Capacitación</option>
                    <option value="Formación" >Formación</option>
                    <option value="Otras">Otras</option>
                </select>

            </div>
            <ul   class="no-list hs-error-msgs inputs-list" style="display:block;" role="alert">
                <li><label class="hs-error-msg">Selecciona una opción del menú desplegable.</label></li>
            </ul>
        </div>
    </fieldset>

    <!------------------------------------cargo--------------------------------------------------------->
    <fieldset class="form-columns-2">
        <div class="hs_nivel_cargo hs-nivel_cargo hs-fieldtype-select field hs-form-field smart-field" ><label id="label-nivel_cargo-87773adc-a420-4645-917c-01a6cf8ca5db_8634" class="" placeholder="Enter your Nivel del cargo" for="nivel_cargo-87773adc-a420-4645-917c-01a6cf8ca5db_8634" ><span >Nivel del cargo</span><span class="hs-form-required">*</span></label>
            <legend class="hs-field-desc" style="display:none;" ></legend>
            <div class="input">
                <select id="nivel_cargo-87773adc-a420-4645-917c-01a6cf8ca5db_8634" required="" class="hs-input invalid error is-placeholder" name="nivel_cargo" >
                    <option value="" disabled="" selected="" >Seleccionar</option>
                    <option value="Gerente" >Gerente</option><option value="Jefe">Jefe</option>
                    <option value="Encargado" >Encargado</option><option value="Analista" >Analista</option>
                </select>
            </div>
            <ul class="no-list hs-error-msgs inputs-list" style="display:block;" role="alert">
                <li><label class="hs-error-msg">Selecciona una opción del menú desplegable.</label></li>
            </ul>
        </div>

        <!---------------------------SERVICIOS---------------------------------------------------------------->


        <div class="hs_servicio_que_le_interesa hs-servicio_que_le_interesa hs-fieldtype-checkbox field hs-form-field smart-field" ><label id="label-servicio_que_le_interesa-87773adc-a420-4645-917c-01a6cf8ca5db_8634" class="" placeholder="Enter your Servicio(s) de interes?" for="servicio_que_le_interesa-87773adc-a420-4645-917c-01a6cf8ca5db_8634" ><span>Servicio(s) de interes?</span><span class="hs-form-required">*</span></label>
            <legend class="hs-field-desc" style="display:none;" ></legend>
            <div class="input" >
                <ul required="" role="checkbox" class="inputs-list multi-container invalid error" >
                    <li class="hs-form-checkbox" role="checkbox" >
                        <label for="" class="hs-form-checkbox-display" >
                            <input id="competencia"(change)="changeStatus('Evaluación de competencia',$event)"  class="hs-input " type="checkbox" name="competencia" value="Evaluación de competencia" aria-labelledby="label-servicio_que_le_interesa-87773adc-a420-4645-917c-01a6cf8ca5db_8634"><span>Evaluación de competencia</span>
                        </label>
                    </li>


                    <li class="hs-form-checkbox" role="checkbox" >
                        <label for="gestion" class="hs-form-checkbox-display" >
                            <input id="gestion" change)="changeStatus('Tablero de gestión',$event)" class="hs-input " type="checkbox" name="gestion" value="Tablero de gestión" aria-labelledby="label-servicio_que_le_interesa-87773adc-a420-4645-917c-01a6cf8ca5db_8634"><span>Tablero de gestión</span>
                        </label>
                    </li>


                    <li class="hs-form-checkbox" role="checkbox" >
                        <label for="talos" class="hs-form-checkbox-display" >
                            <input id="talos" class="hs-input"  change)="changeStatus('TALOS',$event)" type="checkbox" name="servicio_que_le_interesa" value="TALOS" aria-labelledby="label-servicio_que_le_interesa-87773adc-a420-4645-917c-01a6cf8ca5db_8634" ><span>TALOS</span>
                        </label>
                    </li>
                </ul>
            </div>
            <ul class="no-list hs-error-msgs inputs-list" style="display:block;" role="alert">
                <li><label class="hs-error-msg">Selecciona al menos una opción.</label></li>
            </ul>
        </div>
    </fieldset>

    <!--.---------------------------INDUSTRIA--------------------------------------------------------------->

    <fieldset class="form-columns-1">
        <div class="hs_industry hs-industry hs-fieldtype-text field hs-form-field">
            <label id="label-industry-87773adc-a420-4645-917c-01a6cf8ca5db_2770"  placeholder="Enter your Industria" for="industry-87773adc-a420-4645-917c-01a6cf8ca5db_2770">
                <span>Industria</span>
                <span class="hs-form-required">*</span></label>
                <legend class="hs-field-desc" style="display:none;"></legend>
            <div class="input">
                <input [(ngModel)]="form.user.industria" id="industry-87773adc-a420-4645-917c-01a6cf8ca5db_2770" class="hs-input invalid error" type="text" name="industry" required=""inputmode="text">
            </div>
            <ul class="no-list hs-error-msgs inputs-list" style="display:block;" role="alert">
                <li ><label class="hs-error-msg">Rellena este campo obligatorio.</label></li>
            </ul>
        </div>
    </fieldset>

    <!-------------------------------------------------CANTIDAD-DE-TRABAJADORES---------------------------------------------------->

    <fieldset class="form-columns-1">
        <div class="hs_numemployees hs-numemployees hs-fieldtype-number field hs-form-field">
            <label id="label-numemployees-87773adc-a420-4645-917c-01a6cf8ca5db_2770"  placeholder="Enter your Cantidad de trabajadores a evaluar?" for="numemployees-87773adc-a420-4645-917c-01a6cf8ca5db_2770">
                <span>Cantidad de trabajadores a evaluar?</span>
                <span class="hs-form-required">*</span></label>
                <legend class="hs-field-desc" style="display:none;"></legend>
                <div class="input">
                    <input id="numemployees-87773adc-a420-4645-917c-01a6cf8ca5db_2770" [(ngModel)]="form.user.trabajadores" class="hs-input invalid error" type="number" min="1" pattern="^[0-9]+" name="numemployees" required="" step="any" inputmode="tel">

                </div><ul class="no-list hs-error-msgs inputs-list" style="display:block;" role="alert">
                    <li><label class="hs-error-msg">Introduce un número válido.</label></li></ul>
                </div>
    </fieldset>

    <!-----------------------------------------TELEFONO-------------------------------------------------------->

    <fieldset class="form-columns-1">
        <div class="hs_mobilephone hs-mobilephone hs-fieldtype-text field hs-form-field">
            <label id="label-mobilephone-87773adc-a420-4645-917c-01a6cf8ca5db_2770" class="" placeholder="Enter your Número de teléfono" for="mobilephone-87773adc-a420-4645-917c-01a6cf8ca5db_2770" data-reactid=".hbspt-forms-0.1:$5.1:$mobilephone.0">
                <span>Número de teléfono</span>
                <span class="hs-form-required" >*</span></label>
                <legend class="hs-field-desc" style="display:none;"></legend>
                <div class="input">
                    <input id="phone" [(ngModel)]="form.user.phone" maxlength="9" type="tel" name="mobilephone" pattern="\([0-9]{3}\) [0-9]{3}[ -][0-9]{4}" title="A valid telephone number consist of a 3 digits code area between brackets, a space, the three first digits of the number, a space or hypen (-), and four more digits" required  autocomplete="mobile" inputmode="tel">
                </div>
                <ul class="hs-input invalid error" class="no-list hs-error-msgs inputs-list" style="display:block;" role="alert"><li><label class="hs-error-msg">Rellena este campo obligatorio.</label></li></ul>
            </div>
        </fieldset>





    <!------------------------------------recapchat--------------------------------------------------------->



    <div class="hs_recaptcha hs-recaptcha field hs-form-field">
        <div class="input">
            <div class="grecaptcha-badge" data-style="inline" style="width: 256px; height: 60px; box-shadow: gray 0px 0px 5px;">
                <div class="grecaptcha-logo"><iframe title="reCAPTCHA" src="https://www.google.com/recaptcha/enterprise/anchor?ar=1&amp;k=6Ld_ad8ZAAAAAAqr0ePo1dUfAi0m4KPkCMQYwPPm&amp;co=aHR0cHM6Ly93d3cubWdjZXJ0aWZpY2EuY2w6NDQz&amp;hl=es&amp;v=rPvs0Nyx3sANE-ZHUN-0nM85&amp;size=invisible&amp;badge=inline&amp;cb=kgma77a87sid"
                        width="256" height="60" role="presentation" name="a-li7d0qmw9wb0" frameborder="0" scrolling="no" sandbox="allow-forms allow-popups allow-same-origin allow-scripts allow-top-navigation allow-modals allow-popups-to-escape-sandbox"></iframe></div>
                <div class="grecaptcha-error"></div><textarea id="g-recaptcha-response" name="g-recaptcha-response" class="g-recaptcha-response" style="width: 250px; height: 40px; border: 1px solid rgb(193, 193, 193); margin: 10px 25px; padding: 0px; resize: none; display: none;"></textarea></div>
            <iframe style="display: none;"></iframe>
        </div><input type="hidden" name="g-recaptcha-response" id="hs-recaptcha-response" value=""></div>
    <div class="hs_error_rollup">
        <ul class="no-list hs-error-msgs inputs-list" style="display:block;">
            <li><label class="hs-main-font-element">Rellena todos los campos obligatorios.</label></li>
        </ul>
    </div>
    <div class="hs_submit hs-submit">
        <div class="hs-field-desc" style="display:none;"></div>
        <div class="actions">
            <button (click)="sendMail2()" type="submit" value="Enviar"
            
            class="enviar">ENVIAR
            </button>
        </div>
    </div><noscript></noscript><input name="hs_context" type="hidden">
    <iframe name="target_iframe_87773adc-a420-4645-917c-01a6cf8ca5db_8634" style="display:none;"></iframe>
    </form>
    <div *ngIf="message">
          <b>{{message}}</b>
    </div>
</div>








</span>
</div>

</div>
</div>
</div>
</div>

<!----------------------------------------------------------------------modal------------------------------------->


<style>
    .hs-form-87773adc-a420-4645-917c-01a6cf8ca5db_36bdead3-f676-47a8-babb-58c45fc66956 fieldset.form-columns-2 .hs-form-field {
        width: 50%;
        float: left;
    }
</style>


<a href="" data-toggle="modal" data-target="#modalDescarga" class="btn btn-default btn-lg mt20" title="¡Quiero mi ejemplar!">¡Quiero mi ejemplar!</a>


</div>


<div class="col-sm-6 col-xlg-6 rel pt30">
    <div class="img">






        <img src="../../../assets/hubfs/evaluar-competencias-operadores-mineros.jpg" alt="Operadores de minería " loading="lazy" style="max-width: 100%; height: auto;">

    </div>
</div>


</div>
</div>
</div>
</div>
</div>
<div id="hs_cos_wrapper_widget_1614732692247" class="hs_cos_wrapper hs_cos_wrapper_widget hs_cos_wrapper_type_module" data-hs-cos-general-type="widget" data-hs-cos-type="module">
    <div class="container-fluid rel icons pt50 pb20">
        <div class="row">
            <div class="container">


                <div class="row">
                    <div class="col-sm-12 rel pb20 tit">
                        <h4>¿Qué encontrarás en la presentación?&nbsp;</h4>
                    </div>
                </div>


                <div class="row">
                    <div class="col-sm-12 text-center cont rel shSec it3">


                        <div class="item pb30">
                            <div class="lineBox">
                                <img src="../../../assets/hubfs/acreditacion-centro-evaluacion.png" alt="Centros de Evaluación y Certificación acreditados">
                                <div class="cont sh">
                                    <div class="int">
                                        <h5>Importancia de la acreditación del Centro de Evaluación</h5>
                                        <p>&nbsp;</p>
                                    </div>
                                </div>

                            </div>
                        </div>

                        <div class="item pb30">
                            <div class="lineBox">
                                <img src="../../../assets/hubfs/evaluar-conocimientos-laborales.png" alt="Procesos para evaluar competencias laborales">
                                <div class="cont sh">
                                    <div class="int">
                                        <h5>Tipos de procesos para evaluar las Competencias Laborales</h5>
                                        <p>&nbsp;</p>
                                    </div>
                                </div>

                            </div>
                        </div>

                        <div class="item pb30">
                            <div class="lineBox">
                                <img src="../../../assets/hubfs/tecnologia-evaluar-competencias-laborales.png" alt="Tecnología para evaluar Competencias Laborales">
                                <div class="cont sh">
                                    <div class="int">
                                        <h5>Beneficios de evaluar con apoyo de herramientas tecnológicas</h5>
                                        <p>&nbsp;</p>
                                    </div>
                                </div>

                            </div>
                        </div>


                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
<div id="hs_cos_wrapper_widget_1614732698576" class="hs_cos_wrapper hs_cos_wrapper_widget hs_cos_wrapper_type_module" data-hs-cos-general-type="widget" data-hs-cos-type="module">
    <div class="container-fluid rel mb20 pt50 pb50 bgGray bannerImg full imgl">

        <div class="img bgi" style="background-image:url(../../../assets/hubfs/lp-aspectos-claves-para-evaluacion-de-competencias-laborales.jpg)"></div>

        <div class="row">
            <div class="container">
                <div class="row">
                    <div class="col-sm-7 col-sm-offset-5 cont rel">

                        <h3>Beneficios de leer esta presentación</h3>
                        <p>Implementar correctamente procesos e instrumentos de medición, como la Evaluación de Competencias laborales te permite tener claridad y trazabilidad sobre las brechas y necesidades de capacitación en tu compañía.</p>



                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="hs_cos_wrapper_widget_1614732710938" class="hs_cos_wrapper hs_cos_wrapper_widget hs_cos_wrapper_type_module" data-hs-cos-general-type="widget" data-hs-cos-type="module">
    <div class="container-fluid rel pt50 pb50 bgWhite bannerSt ">
        <div class="row">
            <div class="container rel">
                <div class="row">
                    <div class="col-sm-12 text-center cont rel">

                        <h1>El capital humano es la base del crecimiento</h1>
                        <p>La Evaluación de Competencias Laborales es fundamental para determinar si tu capital humano está acreditado para desempeñar sus funciones, de acuerdo a un perfil laboral específico, o si es necesario gestionar un plan de capacitación
                            que ayude a mejorar su rendimiento e impulse el desarrollo de la organización.</p>


                        <a href="javascript:void(0)" data-toggle="modal" data-target="#modalDescarga" class="btn btn-default btn-lg mt20" title="Quiero descargar mi material">Quiero descargar mi material</a>


                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="hs_cos_wrapper_widget_1624573660693" class="hs_cos_wrapper hs_cos_wrapper_widget hs_cos_wrapper_type_module" data-hs-cos-general-type="widget" data-hs-cos-type="module">