<!-- footer -->
<!-- ============================================================== -->
<footer class="footer">
    <div class="container-fluid pt20">
        <div class="row">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6 pb20 lf">
                        <p>
                            © MGCertifica. Todos los derechos reservados {{anio}}.
                        </p>
                    </div>
                    <div class="col-sm-6 pb20 rg">
                        <p><a href="tel:56342425400" rel="noopener">(56)(34) 2425400</a> / <a href="tel:56944701444" rel="noopener">(56)(9) 44701444</a></p>
                        <p><a href="mailto:contacto@mgcertifica.cl" title="contacto@mgcertifica.cl">contacto@mgcertifica.cl</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- ============================================================== -->
<!-- End footer -->
